*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.t1{
    background-color: turquoise;
    height: 400px;
    text-align: center;
    color:white;
    font-size: large;
    font-weight: bold;
    padding-top: 40px;
}
h1{
    padding-top: 60px;
    font-family:  "Trirong", serif;
    font-size: 60px;
    text-shadow: 1px 1px 1px gray;

}
.t2{
    background-color: white;
    height: 400px;
    
}
.t2 p{
    color: turquoise;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}
img{
    height: 400px;
    float: right;
    
}
h2{
    font-size: 30px;
}
.t1 p{
    height: 100%;
    width:90%;
    padding-left: 200px;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    
    
}